body{
    background:#f4f4f4;
    font-family:Arial,sans-serif;
}

.container{
    width:700px;
    margin:auto;
    margin-top:50px;
}

h1{
    text-align:center;
    color:white;
    background:#0078d7;
    padding:15px;
}

.card{
    background:white;
    padding:20px;
    box-shadow:0px 0px 10px gray;
}

.card p{
    font-size:18px;
    margin:15px 0;
}
``
